//Primary colors
$base-red: #ba0c2f;
$base-blue: #33414e;
$base-black: #000000;
$base-mid-black: #333333;
$base-white: #ffffff;
$base-cc-gray: #cccccc;
$base-dd-gray: #dddddd;
$base-cdc-gray: #cdcdcd;
$base-maroon: #7d2626;

/* Bandhan theme */
$base-text: #222222;
$border-color: #dddddd;
$primary-color: #f58120;
//Size Variables
$base-font-size: 0.85rem;

//FontFamily
$base-font-family: "Poppins", sans-serif;
