.navbar-vertical {
  width: 15.875rem;
  .nav-item {
    .nav-link {
      transition: all 200ms ease-in-out;
      padding-inline: 1.5rem;
      line-height: 48px;
      border: 1px solid #ccc;
      margin-block-end: 1rem;
      border-radius: 100vw;
      box-sizing: border-box;
      text-align: center;
      &:is(:hover, :focus, .active) {
        background-color: lighten($color: $primary-color, $amount: 2%);
        color: #fff;
      }
    }
  }
}
