<div class="modal fade" [id]="popupId" tabindex="-1" aria-labelledby="cnfModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button aria-hidden="true" class="btn-close"
                    (click)="onCancelButtonClick()" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-left">
                                    <div class="panel-body">
                                        <p class="popup-text">{{message}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="onCancelButtonClick()"
                    aria-hidden="true" class="btn btn-secondary">
                    {{cancelButtonTitle}}</button>
                <button aria-hidden="true" (click)="onConfirmButtonClick()"
                    class="btn btn-primary">
                    {{saveButtonTitle}}</button>
            </div>
        </div>
    </div>
</div>
