@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?acpv0l");
  src: url("fonts/icomoon.eot?acpv0l#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?acpv0l") format("truetype"), url("fonts/icomoon.woff?acpv0l") format("woff"),
    url("fonts/icomoon.svg?acpv0l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e915";
  color: #f58120;
}
.icon-logout-ic:before {
  content: "\e911";
  color: #fff;
}
.icon-order-ic:before {
  content: "\e912";
  color: #fff;
}
.icon-user-info-ic:before {
  content: "\e913";
  color: #fff;
}
.icon-user-pass-ic:before {
  content: "\e914";
  color: #fff;
}
.icon-f-call:before {
  content: "\e90e";
  color: #737373;
}
.icon-f-email:before {
  content: "\e90f";
  color: #737373;
}
.icon-f-location:before {
  content: "\e910";
  color: #737373;
}
.icon-facebook .path1:before {
  content: "\e900";
  color: rgb(24, 119, 242);
}
.icon-facebook .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-google .path1:before {
  content: "\e902";
  color: rgb(255, 193, 7);
}
.icon-google .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-google .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-google .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-leaf:before {
  content: "\e906";
  color: #f58120;
}
.icon-sm-facebook:before {
  content: "\e907";
  color: #b3d1c1;
}
.icon-sm-instagram:before {
  content: "\e908";
  color: #b3d1c1;
}
.icon-sm-tripadvisor:before {
  content: "\e909";
  color: #b3d1c1;
}
.icon-call:before {
  content: "\e90a";
  color: #f58120;
}
.icon-location:before {
  content: "\e90b";
  color: #f58120;
}
.icon-shopping-bag:before {
  content: "\e90c";
  color: #fff;
}
.icon-user:before {
  content: "\e90d";
  color: #fff;
}
