@import "scss-partial-views/colors";
@import "scss-partial-views/mixins";
@import "scss-partial-views/common";
@import "scss-partial-views/login";
@import "scss-partial-views/navbar-verticle";
@import "scss-partial-views/dashboard";
@import "scss-partial-views/calculator";
@import "scss-partial-views/food";

/*CSS Starts*/
html {
  height: 100%;
}

body {
  background-color: #f6f7f9;
  overflow-x: hidden;
  font-family: $base-font-family;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  margin: 0;
  font-size: $base-font-size;
}
