body .font-10 {
  font-size: 0.625rem;
}
body .font-10px {
  font-size: 10px;
}
body .font-11 {
  font-size: 0.687rem;
}
body .font-12 {
  font-size: 0.75rem;
}
body .font-12px {
  font-size: 12px;
}
body .font-14px {
  font-size: 14px;
}
body .font-13 {
  font-size: 0.813rem;
}
body .font-14 {
  font-size: 0.875rem;
}
body .font-15 {
  font-size: 0.938rem;
}
body .font-16 {
  font-size: 1rem;
}
body .font-16px {
  font-size: 16px;
}
body .font-17 {
  font-size: 1.063rem;
}
body .font-18 {
  font-size: 1.125rem;
}
body .font-20 {
  font-size: 1.25rem;
}
body .font-21 {
  font-size: 1.3rem;
}
body .font-22 {
  font-size: 1.375rem;
}
body .font-22px {
  font-size: 22px !important;
}
body .font-23 {
  font-size: 1.45rem;
}
body .font-24 {
  font-size: 1.5rem;
}
body .font-26 {
  font-size: 1.625rem;
}
body .font-28 {
  font-size: 1.75rem;
}
body .font-30 {
  font-size: 1.875rem;
}
body .font-32 {
  font-size: 2rem;
}
body .font-34 {
  font-size: 2.125rem;
}
body .font-36 {
  font-size: 2.25rem;
}
body .font-38 {
  font-size: 2.375rem;
}
body .font-40 {
  font-size: 2.5rem;
}
body .font-50 {
  font-size: 3.25rem;
}
