<div class="page-header navbar navbar-fixed-top" *ngIf="isLoginUser && isLogin">   
    <div class="page-header-inner">
        <div class="page-logo">
            <div class="menu-toggler" tabindex="0" (keyup.enter)="toggleMenu()">
                <span></span>
            </div>
            <a href="javascript:;" (click)="goToDashboard()">
                <div class="logo-default logoImage"></div>
            </a>
            
            <div class="user-more collapsed" data-target="#user-navbar-collapse" data-toggle="collapse"> 
                    <img src="assets/images/user-more.png" alt=""> 
            </div>
        </div>
        <div class="user-menu"> 
            <div id="user-navbar-collapse" class="collapse navbar-collapse navbar-collapse-toolbar">
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <!-- <li class="nav-item dropdown1 profiledropdown" *ngIf="isShowRole">
                        <a tabindex="0" class="" id="dropdownRole" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" (keyup.enter)="openDropdown('dropdownRole')">
                            <span class="userNameLbl">{{ selectedUserRole.role }}</span> 
                             <img class="downarrow" src="assets/images/down-arrow.png" alt="downarrow">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownRole">
                            <a *ngFor="let item of userRoles" class="dropdown-item "
                                (click)="changeUserRole(item)">{{item.role}}</a>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown1 profiledropdown">
                        <a tabindex="0" class="" id="dropdownlanguage" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" (keyup.enter)="openDropdown('dropdownlanguage')">
                            <img [src]="selectedLanguage.img" alt="">
                            <span>{{ selectedLanguage.language }}</span> 
                            <img class="downarrow" src="assets/images/down-arrow.png" alt="downarrow">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                            <a *ngFor="let item of languages" class="dropdown-item"
                                (click)="useLanguage(item.code)"><img [src]="item.img"
                                    alt=""><span>{{item.language}}</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown1 dropdown-toggle profiledropdown">
                        <a tabindex="0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" (keyup.enter)="openDropdown('dropdownMenuButton')">
                            <span
                                class="userNameLbl userName" style="text-transform: capitalize;">{{ 'Login.LoginUser' | translate:{'username':userName} }}
                            </span>
                                <img src="assets/images/user-defualt.png" alt=" "class="userImg dropdown-toggle">
                                <img class="downarrow" src="assets/images/down-arrow.png" alt="downarrow">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="javascript:;"
                                (click)="changePassword()">{{ 'Header.MyProfile' | translate }}</a>
                            <a class="dropdown-item" href="javascript:;"
                                (click)="openLogoutModal()">{{ 'Header.Logout' | translate }}</a>

                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
<app-loader [loading]="loading"></app-loader>
<!-- Logout popup confirmation ends -->
<div id="vehicle_confirmation_selector_popup" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center"> {{'Common.Confirm' | translate}} </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-left">
                                <div class="panel-body">
                                    <div class="popup-text">
                                       {{'Approval.VehicleDataLostWarning' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 m-0">
                    <button class="btn btn-outline-secondary" (click)="cancelRequest()">{{'Common.No' | translate}}</button>
                    <button class="btn btn-secondary float-right" (click)="acceptRequest()">{{'Common.Yes' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>