
.customTable::-webkit-scrollbar{width:0.8em !important;height:0.8em !important;}
.page-bar-fixed{z-index:3 !important;}
::placeholder{color:#f1f1f1;font-style:normal !important;font-weight:300 !important;}
:-ms-input-placeholder{color:#f1f1f1;font-style:normal !important;font-weight:300 !important;}
::-ms-input-placeholder{color:#f1f1f1;font-style:normal !important;font-weight:300 !important;}
:focus::-webkit-input-placeholder{color:transparent;}
:focus:-moz-placeholder{color:transparent;}
:focus::-moz-placeholder{color:transparent;}
:focus:-ms-input-placeholder{color:transparent;}

/*css for opportunity module*/
th.opp-action{width:10%;text-align:center;}
th.opp-qbtotal{width:15%;}
th.opp-name{width:10%;}
.tableallaction button{margin:0 2px !important;}
span.conyes{color:#155724;background-color:#d4edda;border-color:#c3e6cb;padding:5px;display:inline-block;width:40px;}
span.conno{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;padding:5px;display:inline-block;width:40px;}
.vhcenter{vertical-align:middle !important;text-align:center;}
.opp-leadstable-parent .funtable td{vertical-align:middle !important;}
.qtybdgetparent p{margin-bottom:5px !important;}
.leadFilter{margin-left:auto;padding-left:15px;padding-right:15px;}
.leadFilter select{padding-right:30px;border:1px solid #ced4da;margin-right:5px;}
/*end css for opporuity module*/

.opptablenewdsn table{border-left:1px solid #ddd;border-right:1px solid #ddd;}
.opptablenewdsn table th,.opptablenewdsn table td{border:none !important;border-bottom:1px solid #ddd !important;}
.opptablenewdsn table td .submodelname{display:block;}
.opptablenewdsn table.table.funtable th{background-color:#7b8d9e;color:#ffffff;}
.opptablenewdsn .tableallaction button+button:before{content:"";border-right:1px solid #999;display:block;height:60%;margin-right:7px;}
.opptablenewdsn .table-striped tbody tr:nth-child(even){background-color:#f1f8ff;}
.assgnimgcls{width:18px;}
.texarea40{height:40px !important;}
.top2::before,.top2::after{top:2px !important;}
.ptop5{padding-top:5px !important;}
.btn-icon-back-red{background-image:url('/assets/images/prev-arrow.png');background-repeat:no-repeat;background-position:center;display:inline-block;margin-right:3px;}
.btn-icon-refresh-red{background-image:url('/assets/images/icon-reset-red.png');background-repeat:no-repeat;background-position:center;display:inline-block;margin-right:3px;}
.icon20height{height:10px;width:10px;}
.icon20height14{height:14px;width:14px;}

/*css for opportunities start*/
/*css for opportunity module d2 end*/

/*Add new vehicle css start*/
.newapproach2col .smallinputnxt input{width:100% !important;min-width:inherit !important;}
.maxmin100{width:100px !important;min-width:100px !important;}
/*Add new vehicle css end*/

/*Vehicle summary*/
.vehiclesummaryheader{width:100%;background:#FFF;cursor:pointer;color:#33414e;font-weight:700;margin-bottom:10px;font-size:14px;}
.vehiclesummarymainpart{background:#f7f7f7;border:0;border-bottom:2px solid #7d2626;box-shadow:0 0 0 transparent;border-top:1px solid #999;padding:0px 10px;}
.opdetailscover .oplabel{margin-right:10px;width:50%;min-width:50%;font-size:.75rem !important;color:#ba0c2f !important;font-weight:600;}
.opvalue{font-size:.75rem !important;color:#ba0c2f;font-weight:400;}
.opdetailscover:first-child{padding-top:0;}
.opdetailscover{display:flex;padding-bottom:4px;padding-top:4px;}
.opdetailscover:last-child{border-bottom:0;padding-bottom:0;}
.opp-date-input input{height:20px;width:120px !important;min-width:100px !important;padding:5px 5px;background-position:96% 1px;}
.inputmidsmall{max-width:135px !important;min-width:135px !important;width:135px !important;}
.textarea20{height:20px !important;border:1px solid #ced4da;padding:0 5px;}
.textarea20:focus,.textarea20:focus-visible{border:1px solid #ced4da;outline:none;}
.cmnformapproach .norequired .form-group{margin-bottom:0 !important;}
.opdetailscover{display:inline-flex;width:25%;padding-top:5px;padding-bottom:5px;}

/*Opportunity Management css start*/
.opp-mng-durationdate{display:flex;}
/*.opp-mng-durationdate input{max-width:120px;margin-right:10px;height:20px;padding-bottom:2px;background-position:98% 1px;}
*/
.opp-mng-durationdate input {
    width: 130px !important;
    margin-right: 10px;
    height: 26px;
    padding-right: 30px;
    background-position: right 8px center;
    padding-left: 8px;
}
.opp-mng-filter-inner{box-shadow:0 0.1rem 0.5rem rgb(0 0 0 / 15%);padding:8px 10px;border-radius:4px;}
.inputvalidation{background:#f3ffb9;border:1px solid #ba0c2f;}
.opp-mng-filter .custom-control-label::before,.opp-mng-filter .custom-control-label::after{left:-1.2rem;}

/*Lead List*/
th.vehicleInterest{width:10%;}
th.qtyBudgetTotal{width:10%;}
th.leadassignedTo{width:5%;}
th.leadformType{width:5%;}
th.leadconverted{width:5%;}
th.leadextras{width:10%;}
th.leadreason{width:10%;}
th.leadstatus{width:5%;}

/*Modifications css*/
.manual22padding{padding:22px;}
.cmnformapproach .fouraproach .form-group.col-lg-12{flex:0 0 100% !important;max-width:100% !important;}
.cmnformapproach .fouraproach .form-group.col-lg-12 .input_onehalf{width:calc(calc(67.1% + 200px + 10px + 0.25rem)) !important;}
.cmnformapproach .fouraproach .form-group.col-lg-6{flex:0 0 66.66% !important;max-width:66.66% !important;}
.cmnformapproach .fouraproach .form-group.col-lg-6 .input_onehalf{width:calc(50% + 200px + 10px + 0.25rem) !important;}
.cmnformapproach .fouraproach .form-group.col-lg-6 .txtwidth50percent{width:calc(50% + 200px + 15px + 0.25rem) !important;}
.cmnformapproach .fouraproach .form-group.col-lg-12 .txtwidth50percent{width:calc(67.1% + 200px + 15px + 0.25rem) !important;}
.cmnformapproach .fouraproach .col-lg-4 .txtwidth50percent{width:auto !important;}

.addopporunityapproch .form-group.col-lg-8 .col8input{width:calc(50% + 200px + 10px + 0.25rem) !important; max-width: initial !important;}
.addopporunityapproch .form-group.col-lg-8{flex:0 0 66.666667% !important;max-width:66.666667% !important;}
.addopporunityapproch .form-group.col-lg-12.twcol .txtwidth100percent,.fulltextarea .txtwidth100percent{width:calc(67% + 200px + 15px + 0.25rem) !important;}
.addopporunityapproch .form-group.col-lg-12.twcol.notestareanew .txtwidth100percent
{
    width: calc(60.2% + 200px + 15px + 0.25rem) !important;
}
.calcwidthlable12{width:calc(33% - 200px - 15px - 0.25rem) !important;}
.addnewvehcolarg .cmnformapproach .col-lg-8.fulltextarea{max-width:83.33% !important;flex:0 0 83.33% !important;}
.col-lg-8.fulltextarea .txtwidth100percent{width:calc(60.2% + 200px + 15px + 0.25rem) !important;}
.col-lg-8.fulltextarea .calcwidthlable12{width:calc(39.8% - 200px - 15px - 0.25rem) !important;}
.txtwidth100percent .w-100{width:calc(100% - 0.25rem) !important;}
.addopporunityapproch .form-group.col-lg-12.twcol{flex:0 0 100% !important;max-width:100% !important;}
.addopporunityapproch .form-group.col-lg-12.twcol.notestareanew {
    flex: 0 0 83.33% !important;
    max-width: 83.33% !important;
}
.highlable{color:#ba0c2f;font-size:13px;}
.highspanbase{font-size:12px;width:200px;}
.highbasic{color:#ba0c2f;}
.highltoppmng{background:#f7f7f7;border:0;border-bottom:2px solid #7d2626;box-shadow:0 0 0 transparent;border-top:1px solid #999;}
.selectquotenote{color:#ba0c2f;font-weight:700;margin-bottom:10px;}
input[type="date"]::-webkit-calendar-picker-indicator{opacity:0;width:15px;padding:10px 3px;margin:0px;margin-top:10px;cursor:pointer;}
.datepicker-input{cursor:default !important;}
.custom-inpt{padding:10px !important;}
/*mapfilter css comes here*/
.mngclspicker{background-position:98% 4px !important;}
.mapquoteortag{font-size:14px;position:relative;top:2px;padding-left:10px;}

/*Add new vechicle css start*/
.inputradioblock{width:calc(50% + 200px + 10px + 0.25rem) !important;}
.addnewvehcolarg .dmakerradio-new-6{width:188px;padding-top:0 !important;padding-bottom:0 !important;min-width:188px;}
.addnewvehcolarg .dmakerradio-6{width:200px;padding-top:0 !important;padding-bottom:0 !important;min-width:200px;}
.cmnformapproach .dmakerradio-6 .custom-control-label:before,.cmnformapproach .dmakerradio-6 .custom-control-label:after{top:2px !important;}
.addnewvehcolarg .cmnformapproach .form-group.col-lg-12{flex:0 0 100% !important;max-width:100% !important;}
.addnewvehcolarg .cmnformapproach .form-group.col-lg-12 .txtwidth50percent{width:calc(50.1% + 200px + 15px + 0.25rem) !important;}
.addnewvehcolarg .cmnformapproach .form-group.col-lg-12.twcol .txtwidth100percent{width:calc(67.1% + 200px + 15px + 0.25rem) !important;}
.addnewvehcolarg .cmnformapproach .suffixcover input{min-width:calc(270px - 130px) !important;width:calc(270px - 130px) !important;}
.addnewvehcolarg .cmnformapproach .suffixcover span{padding-left:10px;}

/*CSS for input and Select and Lable height font changes*/
.cmnformapproach.inputsellable30 .form-group select{background-position:top right !important;}
.cmnformapproach.inputsellable30 .form-group .form-control,.cmnformapproach.inputsellable30 .form-group input{height:30px !important;}
.cmnformapproach.inputsellable30 .form-group label{font-size:12px !important;line-height:14px;}
.cmnformapproach.inputsellable30 .form-group .datepicker-input{background-position:97% 5px;}
.cmnformapproach.inputsellable30 .only-inputgroup i.icon-search{margin-top:6px;}
.cmnformapproach.inputsellable30 .greyborder{border:none !important;}
.cmnformapproach.inputsellable30 .greyborder.px-25{padding:0 !important;}
.cmnformapproach.inputsellable30 .form-group .form-control.texarea40{height:65px !important;}
.cmnformapproach.inputsellable30 .smallbtn{height:28px !important;}
.cmnformapproach.inputsellable30 .fouraproach .form-group.col-lg-6.sixbreak50{flex:0 0 50% !important;max-width:50% !important;}
.cmnformapproach.inputsellable30 .form-group .form-control,.cmnformapproach.inputsellable30 .form-group input{width:200px;min-width:200px;}
.cmnformapproach.inputsellable30 .textarea25width .w-100{width:calc(100% - 0.25rem) !important;}
.reasonauto50 input{border:1px solid #ccc;}
.reasonauto50 input{border:1px solid #ccc;}
.reasonauto50 *:focus{border:1px solid #33414e;}
.cmnformapproach.inputsellable30.addleadnewaaproach .form-group.col-lg-8{flex:0 0 66.666667%;max-width:66.666667%;}
.cmnformapproach.inputsellable30.addleadnewaaproach .form-group.col-lg-8 .col8input{width:calc(50% + 200px + 10px + 0.25rem) !important;}
.cmnformapproach.inputsellable30 .txtwidth100percent.textareafull{width:calc(75% + 200px + 15px + 0.25rem) !important;}
.cmnformapproach.inputsellable30 .form-group label.custom-control-label{line-height:15px !important;}
/*******height css over*********/

/*discussion_popup*/

/*discussion_popup_end*/

.asterisk{color:#ba0c2f;}
.fileuplabel{font-size:14px;padding-right:10px;font-weight:600;}
.uploadonarea{padding-left:40px;}

/*CSS for Steps Wizard section only*/

/*End Wizard CSS*/

/*Wizard new css 02 July*/

/*Wizard new css 02 July end*/

/*Other CSS*/
.infodeletepos{position:relative;top:2px;}
.icon-alert-exclamation{background-image:url("../../images/opportunity/exclamation.png");background-repeat:no-repeat;background-position:center;display:inline-block;height:16px;width:16px;margin-right:3px;background-size:16px;min-width:16px;}
.opp-mng-hightbtn ul.nav.nav-pills{padding:0 !important;box-shadow:none !important;}
.opp-mng-hightbtn .nav>li>a{border:1px solid #e1e1e1;margin:0 4px;height:28px;border-radius:4px;width:28px;text-align:center;display:flex;justify-content:center;align-items:center;box-shadow:0 0.1rem 0.5rem rgb(0 0 0 / 15%);}
.datepicker-input-disabled{background-image:url('/assets/images/calendar-icon.png');background-position:98% 6px;background-repeat:no-repeat;width:100% !important;cursor:pointer;box-shadow:inherit;opacity:50% !important;}
/*End Other CSS*/

/***********************Underwriting CSS Start********************************/
.addtionalnotestexarea {height: 80px !important;}

span.proid{color:#fff;font-size:14px;}
.statuspending{color:#3a2b00;background-color:#ffcf38;border-color:#ffeeba;}
.statusaccepted{color:#fff;background-color:#319c04;border-color:#319c04;}
.statusreferred{color:#fff;background-color:#FF8C00;border-color:#FF8C00;}
.statusdeclined{color:#fff;background-color:#DC143C;border-color:#DC143C;}
.underwrgridbtn{padding:2px 8px;border-radius:4px;font-size:11px;line-height:18px;text-align:center;min-width:80px;display:inline-block;border:1px solid !important; white-space: nowrap;}
.underwritingawaitinggridbtn{color:#846401;background-color:#ffcf38;border-color:#bca04a !important;}
.underwritingacceptedgridbtn{color:#cdffb8;background-color:#319c04;border-color:#34671f !important;}
.underwritingreferredgridbtn{color:#5b370b;background-color:#FF8C00;border-color:#88500d !important;}
.underwritingdeclinedgridbtn{color:#ffe8ed;background-color:#DC143C;border-color:#9c1c36 !important;}
.underwritingbluegridbtn{color:#ffe8ed;background-color:#3e83ff;border-color:#FFF !important;}
.downloadcontractfile{position:absolute;right:0;top:-10px;background:#ba0c2f !important;border:none;color:#FFF !important;padding-left:10px;padding-right:10px;padding-top:2px;padding-bottom:2px;border-radius:4px;line-height:22px;}
.btn-icon-contract-file{background-image:url('../../images/opportunity/download_document.png');background-repeat:no-repeat;background-position:center;display:inline-block;height:16px;width:16px;margin-right:0px;position:relative;top:2px;}
.btn-icon-attachment{background-image:url('../../images/opportunity/attachment.png');background-repeat:no-repeat;background-position:center;display:inline-block;height:16px;width:16px;margin-right:0px;position:relative;top:2px;}
.unwstattabtn{padding:2px 10px;min-width:75px;display:inline-block;text-align:center;color:#fff;letter-spacing:0.5px;border-radius:4px;}
.sentuwbnt{background:#3e83ff;}
.rejectuwbnt{background:#DC143C;}
.approveuwbnt{background:#319c04;}
.referreduwbnt{background:#FF8C00;}
.pendinguwbnt{background:#ffcf38}
.texareahundred{height:100px !important;}
span.proid{color:#fff;background-color:#2d0be6; }
span.uwstatusbox,
span.proid {
    padding-right: 15px;
    padding-left: 15px;
    height: 30px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 4px;
    line-height: 30px;}
.conditonsbox{width:100%;border:1px solid #ccc;padding:5px 10px;height:100px;overflow:auto;}
.conditonsbox ul{padding-left:15px;list-style:square;}
.conditonsbox ul li{margin-bottom:3px;}
.trackerinfouw{display:flex;font-size:14px;}
.tracinfouwcover{width:50%;display:flex;justify-content:space-between;align-items:center;padding-left:15px;padding-right:15px;}
.trackerinfouw label{padding-right:5px;margin-bottom:0;font-weight:600;}
.tracinfouwcover span{font-weight:400;}
.modal-xxl { max-width: 90vw; }
/***********************Underwriting CSS End********************************/

/*Share Quote Modal CSS*/

/*Share Quote Modal CSS*/

/*Add leads css*/
.inpfull100 input{width:calc(67% + 200px + 10px + 0.25rem) !important;}
.max200new{max-width:180px;}
.overridecheckbox .custom-control-label::after{left:-1.15rem;}
.overridecheckbox .custom-control-label::before{left:-1.2rem;}
/*Add leads css*/

/*Search Builder CSS*/
.searchbuilderparent select.form-control,.searchbuilderparent input.form-control{width:200px !important;max-width:200px !important;}
/*End Search Builder CSS*/

.cmnformapproach .dmakerradio-new-61 .custom-control-label:before,.cmnformapproach .dmakerradio-new-61 .custom-control-label:after,.cmnformapproach .newh30yesno .custom-control-label:before,.cmnformapproach .newh30yesno .custom-control-label:after{top:3px !important;}
.inputfullnew{width:calc(50% + 200px + 10px + 0.25rem) !important;}
.dmakerradio-new-61{padding:5.5px 0;}
.newh30yesno{padding:5.5px 0;}
.cmnformapproach .form-group.mymarginmng{margin-top:0 !important;margin-bottom:0 !important;}
.txtwidth100percent.mng60percent{flex:0 0 66% !important;max-width:66% !important;}
.txtwidth100percent.mng60percent .texarea40.m-0.p-0{margin-left:0 !important;margin-right:0 !important;width:100% !important;}

/*Breadcrumb CSS updates Changing this breadcrum css as per the discussion with onsite team*/
.page-bar .page-breadcrumb>li>a,.page-bar .page-breadcrumb>li::after{font-size:.75rem !important;font-weight:bold !important;}
.page-bar .page-breadcrumb>li>a{color:#ba0c2f !important;}
.page-bar .page-breadcrumb>li:last-child a{cursor:default !important;color:#33414e !important;}
/*End of Breakcrumb css update Changing this breadcrum css as per the discussion with onsite team*/

.sidebarcommunicationlogbasecls .notescallsection .listboxheading,
.sidebarcommunicationlogbasecls .logcallsection .listboxheading {
  display: none;
}


/*************Media css start****************/
@media (min-width:1440px){.cmnformapproach .fouraproach .col-lg-4 input, .cmnformapproach .fouraproach .col-lg-4 select{width:280px !important;max-width:280px !important;}
 .cmnformapproach .fouraproach .form-group.col-lg-6{flex:0 0 66.66%;max-width:66.66%;}
 .cmnformapproach .fouraproach .form-group.col-lg-12{flex:0 0 100% !important;max-width:100% !important;}
 .cmnformapproach .fouraproach .form-group.col-lg-6 .input_onehalf{width:calc(50% + 280px + 10px + 0.25rem) !important;}
 .cmnformapproach .fouraproach .form-group.col-lg-12 .input_onehalf{width:calc(67.1% + 280px + 10px + 0.25rem) !important;}
 .cmnformapproach .fouraproach .form-group.col-lg-6 .txtwidth50percent{width:calc(50% + 280px + 15px + 0.25rem) !important;}
 .cmnformapproach .fouraproach .form-group.col-lg-12 .txtwidth50percent{width:calc(67.1% + 280px + 15px + 0.25rem) !important;}
 .addopporunityapproch .form-group.col-lg-12.twcol.notestareanew .txtwidth100percent
{
    width: calc(60.2% + 280px + 15px + 0.25rem) !important;
}
 .addopporunityapproch .form-group.col-lg-4 input, .addopporunityapproch .form-group.col-lg-4 select{width:280px !important;max-width:280px !important;}
 .addopporunityapproch .form-group.col-lg-8 .col8input{width:calc(50% + 280px + 10px + 0.25rem) !important;}
 .addopporunityapproch .form-group.col-lg-12.twcol .txtwidth100percent, .fulltextarea .txtwidth100percent{width:calc(67% + 280px + 15px + 0.25rem) !important;}
 .col-lg-8.fulltextarea .txtwidth100percent{width:calc(60.2% + 280px + 15px + 0.25rem) !important;}
 .col-lg-8.fulltextarea .calcwidthlable12{width:calc(39.8% - 280px - 15px - 0.25rem) !important;}
 .calcwidthlable12{width:calc(33% - 280px - 15px - 0.25rem) !important;}
 .highspanbase{width:280px;font-size:14px !important;line-height:18px;}
 .cmnformapproach.inputsellable30.addleadnewaaproach .form-group.col-lg-8 .col8input{width:calc(50% + 280px + 10px + 0.25rem) !important;}
 .addnewvehcolarg .dmakerradio-6{width:280px;padding-top:0 !important;padding-bottom:0 !important;min-width:280px;}
 .addnewvehcolarg .dmakerradio-new-6{width:220px;padding-top:0 !important;padding-bottom:0 !important;min-width:220px;}
 .inputradioblock{width:calc(50% + 280px + 10px + 0.25rem) !important;}
 .inputfullnew{width:calc(50% + 280px + 10px + 0.25rem) !important;}
 .addnewvehcolarg .cmnformapproach .suffixcover input{min-width:calc(350px - 130px) !important;width:calc(350px - 130px) !important;}
 .addnewvehcolarg .cmnformapproach .suffixcover span{padding-left:10px;}

 /******Input, select height change****/
 .cmnformapproach.inputsellable30 .form-group .form-control, .cmnformapproach.inputsellable30 .form-group input{width:280px;min-width:280px; font-size:14px !important;}
 .cmnformapproach.inputsellable30 .form-group label{font-size:14px !important;line-height:18px;}
 .inpfull100 input{width:calc(67% + 280px + 10px + 0.25rem) !important;}
 .opdetailscover .oplabel, .opdetailscover .opvalue{font-size:14px !important;line-height:18px;}
 /*Breadcrumb CSS updates Changing this breadcrum css as per the discussion with onsite team*/
 .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li::after{font-size:14px !important;font-weight:bold !important;}
 .page-bar .page-breadcrumb>li>a{color:#ba0c2f !important;}
 .page-bar .page-breadcrumb>li:last-child a{cursor:default !important;color:#33414e !important;}
 /*End of Breakcrumb css update Changing this breadcrum css as per the discussion with onsite team*/


/*New css changes for opportunity module bugs*/
.cmnformapproach.oneforbreak .modalcomponentlg3fix .form-group[class*="col-"] {
    max-width: 33.33%;
    flex: 0 0 33.33%;
}

.cmnformapproach.inputsellable30 .fulltextarea .calcwidthlable12.fwtextlabel{
    width: calc(36.2% - 280px - 15px - 0.25rem) !important;
    white-space: pre-wrap !important;
}

.cmnformapproach.inputsellable30 .fulltextarea .txtwidth100percent.mng60percent.fwtextarea {
    width: calc(84% + 280px + 15px + 0.25rem) !important;
    flex: initial !important;
    max-width: initial !important;
}

}

/*Bug css common*/
.modalcomponentlg3fix .input-icon input {
    height: 30px !important;
}

.cmnformapproach.oneforbreak .modalcomponentlg3fix .greyborder .col-lg-3 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
}

.cmnformapproach.oneforbreak .modalcomponentlg3fix #basicInfo1 .greyborder .col-lg-3 label.custom-control-label {
    line-height: 10px !important;
}

.modalcomponentlg3fix .card-header button.btn.btn-outline-secondary.smallbtn {
    height: 20px !important;
}

.modalcomponentlg3fix .cmnformapproach #basicInfo1 .alert-danger {
    text-align: right !important;
}

.modalcomponentlg3fix .cmnformapproach #personAddress2 .alert-danger {
    text-align: right !important;
}

/********/

/*Edit Underwriting form css start*/
.conditonsbox.editformulisting{min-height:277px !important;overflow:inherit !important;}
.conditonsbox.editformulisting ul{padding-left:0;}
.editformulisting ul li{display:flex !important;line-height:22px;margin-bottom:10px;}
.tracinfouwcover .dmakerradio-6 label{font-weight:400 !important;}
.specialremarkstextarea textarea{width:100%;border:1px solid #cccccc;min-height:277px;}
.specialremarkstextarea textarea:focus{box-shadow:0 0 0 0.1rem rgb(49 132 253 / 20%) !important;outline:none;}
.btn-icon-view-edit{background-image:url('../../images/eye-black-icon.png');background-repeat:no-repeat;background-position:center;display:inline-block;height:20px;width:20px;margin-right:0px;position:relative;top:2px;}
.edittrackercost{min-height:30px;}
.editablestatusselect{background:#f1f1f1;padding:8px 10px;margin-top:0 !important;border:1px solid #ccc;}
.editableunderwritetable{border-top:1px solid #ccc;padding-top:15px;margin-top:20px !important;}
.conditonsbox.editformulisting.referredbox{min-height:205px !important;}
.specialremarkstextarea.referrredtextarea textarea{min-height:205px !important;}
.notespopup .afteraccencyremarks textarea{width:100%;height:100px;border:1px solid #ccc;}
textarea:read-only{background:#f9f9f9;}
.afteraccencyremarks textarea:focus-visible{outline:none;}
.valuelistlable{min-width:240px;}
.underwritacptcase .custom-checkbox .custom-control-input:checked~.custom-control-label::after{background-position:1px 2px;}
/*Edit underwrtiing form css end*/

/*Lead feedback*/
.leadVehicleRequestcls .modal-xxl{max-width:90vw !important;}
.rangebox{width:280px;display:flex;justify-content:space-between;}
.rangebox .rangebox_rgb{max-width:48%;width:100%;display:flex;align-items:center;}
.rangebox .rangebox_rgb span{padding-right:5px;}
.rangebox .rangebox_rgb input{width:100% !important;min-width:1px !important;margin:0 !important;}
.fixedcls{position:fixed;z-index:9;}
.fixedcls::before{content:"";background:#ffffff;width:100%;height:13px;position:absolute;top:-13px;}
.fixbottompadding{padding-top:59px;}

/*email editor css*/
.emailentercover{padding-top:5px;padding-bottom:5px;}
.emailentercover .assignlabel{min-width:80px;font-weight:600;}

.table-inbox{border:1px solid #d3d3d3;margin-bottom:0;}
.table-inbox tr td{padding:12px !important;border-bottom:1px solid #ccc;font-size:13px;}
.table-inbox tr td:hover{cursor:pointer;}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover{color:#f78a09;}
.table-inbox tr td .fa-star{color:#d5d5d5;}
.table-inbox tr.unread td{background:none repeat scroll 0 0 #f7f7f7;font-weight:600;}
ul.inbox-pagination{float:right;}
ul.inbox-pagination li{float:left;}

/* Email css end */
.listboxheading{background:#758492;padding:10px;color:#fff;margin:0;font-size:14px;}
/* Email css end */

/* map modal new css */

.accblacknewhead .acc-head{color:#000 !important;}
body .acc-style-new .accblacknewhead .accTitle,body .acc-style-new .accblacknewhead .accTitle:not(.collapsed){border-bottom:1px solid #000000 !important;}
.acc-style-new .accblacknewhead .accTitle .btn-icon-plus{background:url('../../images/opportunity/acc-plus-icon_black.png') center center no-repeat !important;}
.acc-style-new .accblacknewhead .accTitle:not(.collapsed) .btn-icon-plus{background:url('../../images/opportunity/acc-minus-icon_black.png') center center no-repeat !important;}

/* map modal new css end */

/*Multiselect css*/ /*Changes 1440 to 1441*/
@media (min-width: 1441px) {
  .cmnformapproach.inputsellable30 .form-group.multiselectnewclasscover .dropdown-btn{width:280px;min-width:280px;font-size:14px !important;/* max-height:50px;overflow:auto;*/}
  .cmnformapproach.inputsellable30 .form-group.multiselectnewclasscover .dropdown-btn span.selected-item{font-size:12px !important;}
  .cmnformapproach.inputsellable30 .form-group.multiselectnewclasscover input{min-width:inherit !important;}
  .multiselectnewclasscover{align-items:flex-start !important;}
  .multiselectnewclasscover>label{padding-top:5px;}

  .cmnformapproach.oneforbreak .modalcomponentlg3fix .greyborder .col-lg-3 .cmnformcontrolwidth {
    width: 280px !important;
    min-width: 280px;
    margin-left: 0.25rem;
}

}
/*end multiselect css*/

.unlinking.linknewcls, .unlinking.linknewcls:hover{font-weight:bold;text-decoration:underline;color:#ba0c2f;min-height:26px;}
.btn-icon-view-resend{background-image:url('../../images/opportunity/resend.png');background-repeat:no-repeat;background-position:center;display:inline-block;height:20px;width:20px;margin-right:0px;position:relative;top:2px;}
.btn-icon-view-man-upload{background-image:url('../../images/opportunity/manual_upload.png');background-repeat:no-repeat;background-position:center;display:inline-block;height:20px;width:20px;margin-right:0px;position:relative;top:2px;}

/*Order Management css common*/
.editordermanagement .whiteBox {height: calc(100% - 114px);}
.newzindex {z-index: 99 !important;}

/*end Order Management css common*/
.addopporunityapproch .form-group.col-lg-4 .multiselectnewclass .filter-textbox input { width: 100% !important; margin:0; }

/*Sidebar communication log css starts*/

.sidebarcommunicationlogbasecls .rentalTypeBox{width: auto;}
.sidebarcommunicationlogbasecls .rentalTypeBox span{font-size: 10px; padding-left: 8px; padding-right: 8px;}
body .sidebarcommunicationlogbasecls .fs14px {font-size: 11px !important;}
.sidebarcommunicationlogbasecls .upload-container p {font-size: 10px;}
.sidebarcommunicationlogbasecls .commentusername{font-size: 11px;}
.sidebarcommunicationlogbasecls .commentmsg{font-size: 10px !important;}

.sidebarcommunicationlogbasecls th.text-center.leadsaction {min-width: inherit !important;}
.sidebarcommunicationlogbasecls .seachandbtnback {flex: 0 0 230px;max-width: 230px;}
.sidebarcommunicationlogbasecls .showresultssection {max-width: 150px; flex: 0 0 150px;}

.sidebarcommunicationlogbasecls a.sideshowmorecls {color: #ba0c2f; cursor: pointer; text-decoration: underline; font-size: 12px; font-weight: 600;}

.sidebarcommunicationlogbasecls .rentalTypeStyle{white-space: inherit !important; height: auto !important;}

/*Sidebar communication log css ends*

/*Media Min Width CSS End*/
/*************Media css for responsive view starts here****************/
@media (max-width:1440px){th.opp-action{width:21%;}
 .cmnformapproach.oneforbreak.newapproach2col .form-group.col-lg-6, .cmnformapproach.oneforbreak.newapproach2col .required.col-lg-6, .cmnformapproach.oneforbreak.newapproach2col .norequired.col-lg-6{flex:0 0 50% !important;max-width:50% !important;}
 .cmnformapproach.oneforbreak.newapproach2col .form-group.col-lg-2{flex:0 0 16.666667% !important;max-width:16.666667% !important;}
 .cmnformapproach.oneforbreak.vinfonewapproach .form-group.col-lg-8{flex:0 0 66.666667% !important;max-width:66.666667% !important;}
 .cmnformapproach.oneforbreak .sixbreak .form-group.col-lg-6, .cmnformapproach.oneforbreak .sixbreak .required.col-lg-6, .cmnformapproach.oneforbreak .sixbreak .norequired.col-lg-6{flex:0 0 50% !important;max-width:50% !important;}
 .cmnformapproach.oneforbreak .boxbgcns .form-group.col-lg-12{flex:0 0 100% !important;max-width:100% !important;}
 span.stepnamewiz{font-size:11px;}
 .rangebox{width:200px;}



.multiselectnewclass .multiselect-dropdown {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.filter-textbox input {
    width: 100% !important;
    max-width: initial !important;
    min-width: inherit !important;
    margin-left: 0 !important;
}

table.table.opportunitytable {
    width: 1440px;
}

.txtwidth100percent textarea {
    max-width: 100% !important;
}

.cmnformapproach.inputsellable30 .fulltextarea .calcwidthlable12.fwtextlabel{
    width: calc(36.2% - 200px - 15px - 0.25rem) !important;
    white-space: pre-wrap !important;
}

.cmnformapproach.inputsellable30 .fulltextarea .txtwidth100percent.mng60percent.fwtextarea {
    width: calc(84% + 200px + 15px + 0.25rem) !important;
    flex: initial !important;
    max-width: initial !important;
}


}
/*************Media css for responsive view ends here****************/



/******************************E-Proposal-CSS-Start*************************************/

/******************************E-Proposal-CSS-End*************************************/


/************************** Dealer-form-prepare component ******************************/
.acceptuwclsvorder{border:1px solid #319c04;max-width:85px !important;flex:0 0 85px !important;margin:0 10px;color:#319c04;
    justify-content:center;background:#ffffff; border-radius: 20px !important;}
.acceptuwclsvorder.active{background:#319c04;color:#ffffff;}
.declineuwclvorder{border:1px solid #DC143C;max-width:85px !important;flex:0 0 85px !important;margin:0 10px;color:#DC143C;justify-content:center;background:#ffffff; border-radius: 20px !important;}
.declineuwclvorder.active{background:#DC143C;color:#ffffff;}


.homeclsvorder{border:1px solid #ba0c2f;max-width:85px !important;flex:0 0 85px !important;margin:0 10px;color:#ba0c2f;justify-content:center;background:#ffffff; border-radius: 20px !important;}
.homeclsvorder.active{background:#ba0c2f;color:#ffffff;}
.workclvorder{border:1px solid #ba0c2f;max-width:85px !important;flex:0 0 85px !important;margin:0 10px;color:#ba0c2f;justify-content:center;background:#ffffff; border-radius: 20px !important;}
.workclvorder.active{background:#ba0c2f;color:#ffffff;}


/***************************/
@media (min-width:1440px){.orderdetail50block .calcwidthlable12{width:calc(50% - 280px - 15px - 0.25rem) !important;}
 .orderdetail50block .fulltextarea .txtwidth100percent{width:calc(50% + 280px + 15px + 0.25rem) !important;}
 .textlablelikeinput{max-width:280px;width:280px;background:#eaffe0;padding:5px 10px;color:#2b6214;border-radius:4px;font-size:14px;border: 1px solid #9cc58b; margin-left: 0.2rem}
}
/*******************/

@media (max-width:1366px){.orderdetail50block .cmnformapproach .required[class*="col-"], .orderdetail50block .cmnformapproach .form-group[class*="col-"]{flex:0 0 50% !important;max-width:50% !important;}
 .orderdetail50block .cmnformapproach .required.col-lg-12, .orderdetail50block .cmnformapproach .form-group.col-lg-12{flex:0 0 100% !important;max-width:100% !important;}
 .orderdetail50block .calcwidthlable12{width:calc(50% - 200px - 15px - 0.25rem) !important;}
 .orderdetail50block .fulltextarea .txtwidth100percent{width:calc(50% + 200px + 15px + 0.25rem) !important;}
 .textlablelikeinput{max-width:200px;width:200px;background:#eaffe0;padding:5px 10px;color:#2b6214;border-radius:4px;font-size:14px;border: 1px solid #9cc58b; margin-left: 0.2rem;}
}

@media (min-width: 1366px) {
 .upAboveRes.cmnformapproach .form-group{justify-content: flex-start;}
 .upAboveRes.cmnformapproach label{min-width: 220px;}
 .upAboveRes.cmnformapproach label.calcwidthlable12{min-width: 220px; width: auto !important;}
 .upAboveRes.cmnformapproach label.btn{min-width: 1px;}
 .upAboveRes.cmnformapproach input.form-control {flex: 1; min-width: 1px;}
 .upAboveRes.cmnformapproach .accordion .form-group.fulltextarea .txtwidth100percent {width: 100% !important}
}

.font14new{font-size: 14px !important;}

.choose::-webkit-file-upload-button {
    color: #fff;
    display: inline-block;
    background: #33414e;
    border: none;
    padding: 4px 8px;
    font-weight: 400;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 8px !important;
  }

  .uplodnewcls
{
    position: relative;
}

.uplodnewcls .file-input
{
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  opacity: 0;
}

  .yesnoswitch label{ width: 30px !important; min-width: 30px !important;}
  .yesnoswitch input {width: 30px!important; border: aliceblue; min-width: inherit !important; margin: 0 !important; padding: 0 !important;}

  /* add person model css*/
  .upAboveRes.cmnformapproach .addPersonCss label {
    min-width: 150px;
}

.cmnformapproach.inputsellable30 .addPersonCss .form-group .form-control, .cmnformapproach.inputsellable30 .addPersonCss .form-group input {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}


.cmnformapproach.inputsellable30 .addPersonCss .form-group .form-control .custom-control-input , .cmnformapproach.inputsellable30 .addPersonCss .form-group input.custom-control-input  {
    width: inherit;
    min-width: inherit;
    max-width: inherit;
}
.upAboveRes.cmnformapproach .addPersonCss label.custom-control-label {
    min-width: inherit;
}


/*Disable issue css*/

.cmnformapproach.inputsellable30 .form-group .disabled-block input[type="file"]
{
  height: 0 !important;
  pointer-events: none !important
}

/*html body input[type="checkbox"].custom-control-input
{
  opacity: 0 !important;
  pointer-events: none !important
}*/


/*End of Disable issue css*/
  html body .cmnformapproach.inputsellable30 .form-group .form-control.creation-date-cls {
    padding-left: 0 !important;
}


/*CSS for Steps Wizard section only*/
.wizardbox{position:relative;align-items:center;justify-content:flex-start;text-align:left;display:flex;flex-direction:column;}
.stepwizardoppmng{display:flex;}
.wizardtext{display:none;}
.laststepwizard::after,.laststepwizard::before{display:none !important;}
span.stepnamewiz{margin:auto 15px 10px;color:#707070;line-height:16px;padding-top:10px;text-transform:uppercase; font-size: 13px;
    max-width: 100px;
    min-height: 40px;}
span.line{height:5px;width:100%;margin:5px 0 6px;display:grid;}
.wizardcomplete .iconwizard,.wizardcomplete span.line,.wizardcomplete span.line::after{ background:#5b9e3f;}
.wizardafter .iconwizard,.wizardafter span.line,.wizardafter span.line::after{background:#a1a1a1;}
span.iconwizard{padding:10px;border-radius:50%;}
.wizardcurrent span.stepnamewiz{font-weight:600;}
span.iconwizard img {max-height: 100%;max-width: 100%;}
.sub-status:before { content:''; border-left: 1px dashed #8b8b8b; width: 1px; height: 100%;
position: absolute; left:0; top:-14px; z-index: 1; }
.sub-status li:before { content:''; border-bottom: 1px dashed #8b8b8b; width: 16px; height:1px; display:block;
position: absolute; left:4px; top:0; bottom: 0; margin: auto; z-index: 1; }
.sub-status li:after { content:''; border: 2px solid #8b8b8b; width: 10px; height:10px; display:block;
position: absolute; left:14px; top:0; bottom: 0; margin: auto; z-index: 5; background: #FFF; border-radius:50%; }
.sub-status li {padding-left: 32px;position: relative; line-height: 18px; padding-right: 14px; }
.sub-status li.subwizardcurrent,
.sub-status li.pointer-none { text-decoration: none; }
.sub-status li.subwizardcurrent:hover { color:#FFF;}
.sub-status li.pointer-none:hover { color:#000; }
.sub-status li:hover{color:#000;}
.sub-status {list-style: none;position: relative;text-align: left;padding: 0 15px 0 0;font-size: 13px;margin:0; color:#000000; display: inline-block; }
.substatus-header { position: relative; width: 100%; }
.substatus-header .iconwizard { padding:8px; width: 42px; height: 42px; display: block;
position: absolute;margin: -20px 0 0;left: -20px; z-index: 2;}
.wizardcomplete .sub-status { color: #288301; }
.wizardafter .sub-status {color:#979797}
.wizardcurrent .stepnamewiz { color:#000; font-weight: 500; }
.sub_status_completed {  font-weight: 500; }
.subwizardcurrent { background-color: #33414e; color:#FFF; font-weight: 600; }
.sub-status li.subwizardafter { color:#979797; }

.sub-status li.subwizardcurrent:after { border-color:#fff; background-color: #33414e; }
.step-upcoming .iconwizard {background-color: #a1a1a1}
.step-upcoming span.line {background-color: #a1a1a1}

.yellow .iconwizard { background-color: #e6ab2b; }
.red .iconwizard { background-color: #e8554e; }
.green .iconwizard { background-color: #5b9e3f; }

.yellow span.line { background-color: #e6ab2b; }
.red span.line { background-color: #e8554e; }
.green span.line { background-color: #5b9e3f; }

.yellow .sub_status_completed { color: #c75c00; }
.red .sub_status_completed { color: #e8554e; }
.green .sub_status_completed { color: #5b9e3f; }

.yellow .sub_status_completed:after { border-color: #c75c00; }
.red .sub_status_completed:after { border-color: #e8554e; }
.green .sub_status_completed:after { border-color: #5b9e3f; }
